@font-face{
    font-family:"MultiScadFont";
    font-style:normal;
    font-weight:900;
    src:url(MultiScadFont.woff) format("woff")
}
.msf{
    -moz-osx-font-smoothing:grayscale;
    -webkit-font-smoothing:antialiased;
    display:inline-block;
    font-style:normal;
    font-variant:normal;
    text-rendering:auto;
    line-height:1;
	font-family:"MUltiScadFont";
	font-weight:900;
}

.msf-mobile:before{
	content:"\f000"
}
.msf-html5:before{
	content:"\f001"
}
.msf-css3:before{
	content:"\f002"
}
.msf-js:before{
	content:"\f003"
}
.msf-php:before{
	content:"\f004"
}
.msf-arrowDown:before{
	content:"\f005"
}
.msf-svgInput:before{
	content:"\f006"
}
.msf-export:before{
	content:"\f007"
}

.msf-badge:before{
	content:"\f010"
}
.msf-bookmark:before{
	content:"\f011"
}
.msf-cutter:before{
	content:"\f012"
}
.msf-keychain:before{
	content:"\f013"
}
.msf-lithophane:before{
	content:"\f014"
}
.msf-stamp:before{
	content:"\f015"
}
.msf-stencil:before{
	content:"\f016"
}

.msf-testing:before{
	content:"\f012"
}