body,html{
    font-family:'Open Sans',sans-serif;
    text-rendering:optimizeLegibility!important;
    -webkit-font-smoothing:antialiased!important;
    color:#666;
    width:100%!important;
    height:100%!important
}
h1{
    font-weight:700
}
h2{
	line-height:20px;
	margin:0;
	color:#444;
	font-weight:400;
	margin-bottom:30px;
	font-size:30px;
	text-transform:uppercase;
	position: relative;
	padding-bottom: 11px;
	text-decoration: none;
}

h2::after {
	content: "";
	position: absolute;
	bottom: 2px;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	height: 4px;\
	min-width:250px;
	max-width:450px;
	background: #1B167C;
	background: linear-gradient(left, transparent 0%, #4977C2 25%,#1B167C 50%,#4977C2 75%, transparent 100%);
	background: -moz-linear-gradient(left, transparent 0%, #4977C2 25%,#1B167C 50%,#4977C2 75%, transparent 100%);
	background: -webkit-linear-gradient(left, transparent 0%, #4977C2 25%,#1B167C 50%,#4977C2 75%, transparent 100%);
}
p{
    font-size:15px
}
p.intro{
    font-size:16px;
    margin:12px 0 0;
    line-height:24px;
    font-family:'Open Sans',sans-serif
}
.logoimg {
	background-image: url("../imgs/icon64.png");
	height: 64px;
	width: 64px;
	display:inline-block;
	position:relative;
	top:10px;
}
@media (max-width: 767px){
	.logoimg {
		background-image: url("../imgs/icon40.png");
		height: 40px;
		width: 40px;
		display:inline-block;
		position:relative;
		top:8px;
	}
}

a{
    color:#222
}
a:hover,a:focus{
    text-decoration:none;
    color:#526cbb
}
ul,ol{
    list-style:none;
    padding:0;
    webkit-padding:0;
    moz-padding:0
}
hr{
	display:none;
    height:4px;
    width:40%;
    text-align:center;
    position:relative;
    background:#6b4da8;
    background:-moz-linear-gradient(left,rgba(107,77,168,1) 0%,rgba(73,119,194,1) 100%);
    background:-webkit-linear-gradient(left,rgba(107,77,168,1) 0%,rgba(73,119,194,1) 100%);
    background:linear-gradient(to right,rgba(107,77,168,1) 0%,rgba(73,119,194,1) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b4da8',endColorstr='#4977c2',GradientType=1);
    margin:0 auto;
    margin-bottom:20px;
    margin-top:-20px;
    border:0
}
#nav{
    z-index:9999
}
#nav.affix{
    position:fixed;
    top:0;
    width:100%
}
@media (min-width: 768px){
    .container > .navbar-header,.container-fluid > .navbar-header,.container > .navbar-collapse,.container-fluid > .navbar-collapse{
        margin-right:-15px;
        margin-left:-15px;
        padding-left:0;
        padding-right:0
    }
}


.navbar .navbar-nav{
    display:inline-block;
    float:none;
    vertical-align:top
}
.navbar .navbar-collapse{
    text-align:center
}
.navbar-custom{
    margin-bottom:0;
    background-color:#222;
    border-radius:0;
    padding:10px 0
}
.navbar-custom .navbar-brand{
    font-weight:600
}
.navbar-custom .navbar-brand:focus{
    outline:0
}
.navbar-custom .navbar-brand .navbar-toggle{
    padding:4px 6px;
    font-size:16px;
    color:#fff
}
.navbar-custom .navbar-brand .navbar-toggle:focus,.navbar-custom .navbar-brand .navbar-toggle:active{
    outline:0
}
.navbar-custom a{
    color:#aaa
}
.navbar-custom .nav li a{
    margin:0;
    text-transform:uppercase;
    letter-spacing:1px;
    -webkit-transition:background .3s ease-in-out;
    -moz-transition:background .3s ease-in-out;
    transition:background .3s ease-in-out;
	padding: 10px 8px;
}
.navbar-custom .nav li a:hover{
    outline:0;
    color:#526cbb;
    background-color:transparent
}

.navbar-custom .nav li a.disabled:hover{
    outline:0;
    color:#636363;
    background-color:transparent
}

.navbar-custom .nav li a:focus{
    outline:0;
    background-color:transparent;
    color:#aaa
}
.navbar-custom .nav li.active{
    outline:0
}
.navbar-custom .nav li.active a{
    background-color:rgba(255,255,255,.3)
}
.navbar-custom .nav li.active a:hover{
    color:#fff
}
a:focus,.btn:focus,.btn:active:focus,.btn.active:focus,.btn.focus,.btn:active.focus,.btn.active.focus{
    outline:none;
    outline-offset:none
}
.intro{
    display:table;
    width:100%;
    height:auto;
    text-align:center;
    color:#fff;
    background:url(../imgs/intro-bg.jpg) no-repeat center center;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    background-size:cover;
    -o-background-size:cover
}
.intro .overlay{
    padding:0;
    background:-moz-linear-gradient(left,rgba(107,77,168,0.85) 0%,rgba(73,119,194,0.85) 100%);
    background:-webkit-linear-gradient(left,rgba(107,77,168,0.85) 0%,rgba(73,119,194,0.85) 100%);
    background:linear-gradient(to right,rgba(107,77,168,0.85) 0%,rgba(73,119,194,0.85) 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d96b4da8',endColorstr='#d94977c2',GradientType=1)
}
.section-title.center{
    padding:35px 0 0
}
#svgInput{
    #padding:0 72px;
    background:#f6f6f6
}
#svgInput .svgInput-text{
    margin-left:10px
}
#svgInput img{
    float:right
}
#svgInput p{
    margin-top:20px;
    margin-bottom:30px
}
#footer{
    background:#222;
    color:#777;
    padding:30px 0 25px
}
#footer p{
    font-size:13px
}
#footer i{
    font-size:32px
}
#footer a{
    color:#aaa
}
#footer a:hover{
    color:#526cbb
}
@media(min-width:768px){
    .intro{
        height:25%;
        padding:0;
        color:#fff
    }
    .intro H1{
        font-size:60px;
        font-weight:600;
        text-transform:uppercase
    }
    .intro .intro-text p{
        font-size:20px;
        margin-bottom:40px;
        margin-top:20px;
        letter-spacing:2px
    }
    section{
        padding:120px 0
    }
    header .intro-text{
        padding-top:0;
        padding-bottom:0
    }
}
@media (min-width: 951px){
    .page-scroll i{
        font-size:32px;
        display:block
    }
	.navbar {
		min-width:965px;
	}
	.navbar .container {
		min-width:965px;
		padding:0px;
	}
    #nav .navbar{
        min-height:76px!important
    }
    body.affix{
        padding:76px 0;
        position:relative
    }
}
.navbar-nav > li > a{
    padding-top:2px!important;
    padding-bottom:0!important
}
@media (max-width: 950px){
    #nav .navbar{
        min-height:50px!important
    }
	
    body.affix{
        padding:42px 0;
        position:relative
    }
    .navbar-custom{
        padding:0
    }
    .navbar-toggle{
        padding:0;
        font-size:150%
    }
    h2{
        line-height:32px
    }
    .navbar-header{
        float:none
    }
    .navbar-nav > li > a{
        padding-top:5px!important;
        padding-bottom:5px!important
    }
    .navbar-left,.navbar-right{
        float:none!important
    }
    .navbar-toggle{
        display:block
    }
    .navbar-collapse{
        border-top:1px solid transparent;
        box-shadow:inset 0 1px 0 rgba(255,255,255,0.1)
    }
    .navbar-fixed-top{
        top:0;
        border-width:0 0 1px
    }
    .navbar-collapse.collapse{
        display:none!important
    }
    .navbar-nav{
        float:none!important
    }
    .navbar-nav>li{
        float:none
    }
    .collapse.in{
        display:block!important
    }
    .container{
        width:95%
    }
}
